server:
  port: 80
spring:
  datasource:
    driverClassName: org.postgresql.Driver
    hikari:
      connectionTimeout: 20000
      maximumPoolSize: 5
    initialSize: 5
    maxActive: 10
    maxIdle: 5
    minIdle: 2
    password: xbmKXrvNbdTYkokAtGySLNXNxesLGa4Ca6jRvXbflLhC8oyOHVEPCWStbmuGriD
    removeAbandoned: true
    url: jdbc:postgresql://localhost:5432/evictions
    username: evictionsuser
  jackson:
    property-naming-strategy: SNAKE_CASE
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  security:
    oauth2:
      client:
        provider:
          okta:
            authorization-uri: https://dev-903534.okta.com/oauth2/v1/authorize
            token-uri: https://dev-903534.okta.com/oauth2/v1/token
            user-info-uri: https://dev-903534.okta.com/oauth2/v1/userinfo
            user-name-attribute: sub
            jwk-set-uri: https://dev-903534.okta.com/oauth2/v1/keys
