<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="party" type="org.dsacleveland.evictiontracker.model.evictiondata.entity.PartyEntity"*/-->
<head th:fragment="head (pagename)">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title th:text="${pagename}">Hello, world!</title>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Evictions Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/cases">Cases</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/parties">Parties</a>
            </li>
        </ul>
        <span>
            <form th:action="@{logout}" method="post">
                <input type="submit" class="btn btn-primary" value="Sign Out"/>
            </form>
        </span>
    </div>
</nav>
<div class="container mt-5 border-bottom">
    <div class="row" th:fragment="caseSummary(case)">
        <div class="col-md-12">
            <h2 th:text="${case.id}">2019 CVG 020274</h2>
        </div>
    </div>
    <div th:fragment="partySummary (parties)" class="card mb-2" th:each="party : ${parties}" style="width: 30rem;">
        <div class="card-body">
            <h5 class="card-title" th:text="${party.name}">Party Name</h5>
            <address>
                <span th:text="${party.address.streetAddress}">1234 Test St.</span><br>
                <span th:if="${party.address.streetAddressSecondary != null && party.address.streetAddressSecondary != ''}"
                      th:text="${party.address.streetAddressSecondary}">Apt. 101</span>
                <br th:if="${party.address.streetAddressSecondary != null && party.address.streetAddressSecondary != ''}">
                <span th:text="${party.address.city}">1234 Test St.</span>,
                <span th:text="${party.address.state}">1234 Test St.</span>
                <span th:text="${party.address.zipCode}">1234 Test St.</span>
            </address>
            <div th:if="${party.attorney != null}">
                <h5>Attorney</h5>
                <p th:text="${party.attorney.name}">Doe, Esq. John</p>
            </div>
            <a href="#" th:href="@{/parties/{id}(id=${party.id})}" class="btn btn-primary">Details</a>
        </div>
    </div>
    <nav aria-label="Page Navigation" th:fragment="caseNav(cases, pageRange)">
        <ul class="pagination">
            <li class="page-item"
                th:class="@{page-item {active}(active=${cases.number == 0 ? 'disabled' : ''})}">
                <a class="page-link" href="#"
                   th:href="@{/cases?page={num}(num=${cases.number})}">Previous</a>
            </li>
            <li th:each="pageIdx : ${pageRange}"
                th:class="@{page-item {active}(active=${pageIdx == #strings.toString(cases.number + 1) ? 'active' : ''})}"
                class="page-item">
                <a th:if="${pageIdx != '...'}" class="page-link" href="#" th:text="${pageIdx}"
                   th:href="@{/cases?page={num}(num=${pageIdx})}">1</a>
                <a th:if="${pageIdx == '...'}" class="page-link disabled">...</a>
            </li>
            <li class="page-item"
                th:class="@{page-item {active}(active=${cases.number == cases.totalPages - 1 ? 'disabled' : ''})}">
                <a class="page-link" href="#"
                   th:href="@{/cases?page={num}(num=${cases.number + 2})}">Next</a>
            </li>
        </ul>
    </nav>
    <nav aria-label="Page Navigation" th:fragment="caseNavNeighborhoodSearch(cases, pageRange, query)">
        <ul class="pagination">
            <li class="page-item"
                th:class="@{page-item {active}(active=${cases.number == 0 ? 'disabled' : ''})}">
                <a class="page-link" href="#"
                   th:href="@{/cases/search(page=${cases.number},neighborhood=${query})}">Previous</a>
            </li>
            <li th:each="pageIdx : ${pageRange}"
                th:class="@{page-item {active}(active=${pageIdx == cases.number + 1 ? 'active' : ''})}"
                class="page-item">
                <a class="page-link" href="#" th:text="${pageIdx}"
                   th:href="@{/cases/search(page=${pageIdx},neighborhood=${query})}">1</a>
            </li>
            <li class="page-item"
                th:class="@{page-item {active}(active=${cases.number == cases.totalPages - 1 ? 'disabled' : ''})}">
                <a class="page-link" href="#"
                   th:href="@{/cases/search(page=${cases.number + 2},neighborhood=${query})}">Next</a>
            </li>
        </ul>
    </nav>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>