<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="case" type="org.dsacleveland.evictiontracker.model.evictiondata.entity.CaseEntity"*/-->
<head th:replace="fragments/main :: head('PDF Upload')">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<!--/*@thymesVar id="task" type="org.dsacleveland.evictiontracker.model.evictiondata.entity.UploadTask"*/-->
<body>
<nav th:replace="fragments/main :: navbar" class="navbar navbar-expand-lg navbar-dark bg-dark"
     aria-label="Navigation Bar">
    <a class="navbar-brand" href="/">Evictions Tracker</a>
</nav>
<div class="container">
    <div class="row mt-2">
        <h1>Upload a PDF</h1>
    </div>
    <div class="row">
        <form action="/api/cases/upload-pdf" enctype="multipart/form-data" method="post">
            <div class="form-group">
                <label for="file">Select a PDF:</label>
                <input type="file" class="form-control-file" id="file" name="file">
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
    <div class="row mt-5">
        <h2>Upload Tasks</h2>
    </div>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Started</th>
                <th scope="col">Finished</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${uploadTasks}">

                <td th:text="${task.id}">12341432432432</td>
                <td th:text="${task.startedOn}">Never</td>
                <td th:text="${task.finishedOn}">Never</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src=" https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>